@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
margin: 0;
padding: 0;
}

body {
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(104, 109, 224);
font-family: Roboto, sans-serif;
margin-top: 60px;
}

.container {
width: 460px;
height: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgb(255, 255, 255);
box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px, rgba(0, 0, 0, 0.1) 0px 6px 6px;
border-radius: 20px;
padding: 15px 15px;
gap: 35px;
}

.input-container {
display: flex;
flex-direction: row;
position: relative;
margin-top: 20px;
}

input {
width: 250px;
height: 40px;
font-size: 18px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px, rgba(0, 0, 0, 0.1) 0px 6px 6px;
color: rgb(51, 51, 51);
padding: 5px 14px;
border-width: 2px;
border-style: solid;
border-color: transparent;
border-image: initial;
border-radius: 10px;
}

.input-placeholder {
position: absolute;
left: 13px;
bottom: 15px;
font-size: 16px;
pointer-events: none;
transition: all 0.3s ease-out 0s;
}

#task-list{
    width: 120px;
    margin-left: 15px;
    text-align: center;
    font-size: 16px;
    outline: none;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px, rgba(0, 0, 0, 0.1) 0px 6px 6px;
}

#task-list:focus{
    border: 2px solid rgb(159, 104, 224);
    
}

.add-btn{
width: 100%;
display: flex;
justify-content: center;
}

.add-btn > button {
background-color: rgb(159, 104, 224);
color: rgb(255, 255, 255);
box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px, rgba(0, 0, 0, 0.1) 0px 6px 6px;
font-size: 16px;
cursor: pointer;
border: 0;
border-radius: 10px;
padding: 14px 30px;
width: 90%;
}

.add-btn  > button:active {
    transform: scale(0.98);
}

.input-container > input:focus {
outline: none;
}

input:focus,input:valid{
border: 2px solid rgb(159, 104, 224);
}

.input-container>input:focus ~ .input-placeholder,
.input-container>input:valid ~ .input-placeholder{
bottom: 42px;
background-color: white;
color:#333;
font-size: 16px;
border: 0;
outline: 0;
}

table {
border-collapse: collapse;
width: 90%;
margin-bottom: 20px;
}

caption {
font-weight: bold;
font-size: 21px;
text-align: left;
color: rgb(51, 51, 51);
text-transform: uppercase;
margin-bottom: 5px;
}

thead {
background-color: rgb(51, 51, 51);
color: white;
text-transform: uppercase;
}

td, th {
text-align: left;
width: 100%;
border: 2px solid black;
padding: 10px 20px;
}


